/* For Full Website Same Style and Reuse classes */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.section-heading{
    font-size: 42px;
    color: #2a2a2a;
}
section{
    padding: 40px 0;
}
span{
    color: #FD693A;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Navigation Section Style here */

.navigation{
    background: #2c2c2c;
}
.main-navigation{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;  
}
.logo-area{
    width: 30%;
}
.logo-area a{
    font-size: 36px;
    color: #FFFFFF;
    text-decoration: none;
}
.nav-area{
    width: 55%;
}
.nav-area ul{
    display: flex;
    justify-content: flex-end;
}
.nav-area ul li{
    list-style: none;
}
.nav-area ul li a{
    padding: 5px 20px;  
    color: #FFFFFF;
}
.order-button{
    width: 15%;
    text-align: right;
}
.order-button a{
    margin-left: auto;
    padding: 10px 20px;
    border-radius: 20px;
    color: #FFFFFF;
    background-image: linear-gradient(to right,#e61c0e,#ec6b20);    
    display: inline-block;
    margin-left: auto;
}
.main-header{
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0;
    align-items: center;
    justify-content: space-between;
}
.header-left-side, .header-right-side{
    width: 50%;
}
.main-header h1{
    margin: 0;
    padding-top: 20px;
    font-size: 42px;
    color: #2a2a2a;
    text-transform: capitalize;
}
.main-header span{
    color: #FD693A;
}
.main-header p{
    font-size: 22px;
    color: #575757;
    line-height: 2em;
}
.header-left-side .btn a{
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #FFFFFF;
    background: linear-gradient(to right,#e61c0e,#ec6b20);    
}
.header-right-side img{
    width: 70%;
    margin-left: 30%;
}

/* About Us Section Style From Here */

.about-us{
    background: url(images/shapes/Frame\ 57.jpg);
    background-size: cover;
    padding: 80px 0;
}
.about-us-contain{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.about-us-left-side , .about-us-right-side{
    width: 50%;
}
.about-us-left-side img{
    border-radius: 10px;
}
.about-us p{
    font-size: 18px;
    line-height: 2em;
}
.about-us p span{
    color: #FD693A;
}
.call-us{
    margin-top: 60px;
}
.call-us a{
    padding: 10px 30px;
    text-decoration: none;
    background: linear-gradient(to right,#e61c0e,#ec6b20); 
    color: #FFFFFF;
    border-radius: 20px;
}

/* Recipies Section Style From Here */

.recipe-title{
    text-align: center;
}
span{
    color: #FD693A;
}
.our-recipies h4{
    font-size: 20px;
    text-align: center;
    padding: 0 30px;
    color: #2c2c2c;
    letter-spacing: 2px;
    line-height: 2em;
}
.our-recipies h4 span{
    color: #FD693A;
}
.card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: 27%;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 2px 2px 30px #ddd;
}
.card-01, .card-03{
    margin-top: 50px;
}
.card img{
    width: 100%;
    border-radius: 20px;
}
.card h2{
    text-align: left;
    color: #2a2a2a;
    font-size: 22px;
}
.card p{
    text-align: left;
    line-height: 1.7em;
}
.card a{
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #FFFFFF;
    background: linear-gradient(to right,#e61c0e,#ec6b20);
    display: inline-block;
    margin-top: 20px;
}
.followers-section{
    display: flex;
    box-shadow: 2px 2px 30px #ddd;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}
.followers-section h2{
    font-size: 48px;
    color: #2c2c2c;
    text-align: center;
    margin: 20px 0;
}
.followers-section h4{
    margin: 10px 0;
    font-size: 18px;
}
/* Our Menu Section Style Here */

.our-menus{
    padding: 30px 0;
    padding-bottom: 80px;
    background: url(images/shapes/Frame\ 58.jpg);
    background-size: cover;
}
.popular-title{
    text-align: center;
}
.popular-itmes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item{
    width: 48%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid #ddd;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 10px;
}
.item-img, .item-info{
    width: 50%;
}
.item-img img{   
    width: 100%;
    height: 100%;
}
.item-info h3{
    font-size: 24px;
    color: #2c2c2c;
    padding: 0 10px;
}
.item-info h5{
    font-size: 18px;
    color: #2c2c2c;
    padding: 0 10px;
    padding-bottom: 10px;
    margin: 0;
}
.item a{
    background: linear-gradient(to right,#e61c0e,#ec6b20);
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 20px;
}

/* Contact section Style Here */

.contact-section{
    padding: 40px 0;
    background: rgba(0, 0, 0, 0.7);
}
.contact-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.social-media{
    width: 30%;
}
.social-media h2{
    line-height: 2em;
    color: #FFFFFF;
}
.social-media ul{
    display: flex;
    justify-content: left;
    padding: 0;
}
.social-media ul li{
    padding: 5px 10px;
}
.social-media ul li:first-child{
    padding-left: 0px;
}
.social-media ul li a{
    font-size: 20px;
    color: #FFFFFF;
}
.contact-form{
    width: 70%;  
}
.contact-form h2{
    text-align: center;
    color: #FFFFFF;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.contact-form form input[type=text],
.contact-form form input[type=email]{
    width: 50%;
    padding: 8px 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.6);
    outline: none;
    border: transparent;
}
.contact-form form input::placeholder{
    color: #ddd;
}
.contact-form form a{
    background: linear-gradient(to right,#e61c0e,#ec6b20);
    color: #FFFFFF;
    border-radius: 20px;
    padding: 8px 30px;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    border: none ;
    margin: 0 auto;
}
/* Footer Style here */
footer{
    text-align: center;
    background: #000000;
    padding: 10px 0;
    color: #FFFFFF;
}