body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.navigation{
    background: #2c2c2c;
}
.main-navigation{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;  
}
.logo-area{
    width: 30%;
}
.logo-area a{
    font-size: 36px;
    color: #FFFFFF;
    text-decoration: none;
}
.nav-area{
    width: 60%;
}
.nav-area ul{
    display: flex;
    justify-content: flex-end;
}
.nav-area ul li{
    list-style: none;
}
.nav-area ul li a{
    text-decoration: none;
    padding: 5px 20px;  
    color: #FFFFFF;
}
.order-button{
    width: 10%;
}
.order-button a{
    margin-left: auto;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: #FFFFFF;
    background: #FD693A;   
}
.header-section{
    padding-bottom: 80px;
}
.main-header{
    display: flex;
    flex-wrap: wrap;
}
.header-left-side, .header-right-side{
    width: 50%;
}
.main-header h1{
    margin: 0;
    padding-top: 120px;
    font-size: 60px;
    color: #575757;
    text-transform: capitalize;
}
.main-header span{
    color: #FD693A;
}
.main-header p{
    font-size: 22px;
    color: #575757;
}
.header-left-side .btn a{
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: #FFFFFF;
    background: #FD693A;   
}
.header-right-side img{
    border-radius: 75% 50% 75% 50%;
    padding-top: 100px;
    padding-left: 50px;
}

/* About Us Section Style From Here */
.about-us{
    background: url(images/shapes/7.png);
}
.about-us-contain{
    display: flex;
    flex-wrap: wrap;
}
.about-us-left-side , .about-us-right-side{
    width: 50%;
}
.about-us h2{
    font-size: 56px;
    color: #707070;
}
.about-us p{
    font-size: 18px;
    line-height: 2em;
}
.about-us p span{
    color: #FD693A;
}
.call-us{
    margin-top: 60px;
}
.call-us a{
    padding: 10px 30px;
    text-decoration: none;
    background: #FD693A;
    color: #FFFFFF;
    border-radius: 6px;
}

/* Recipies Section Style From Here */
.our-recipies{
    padding: 30px 0;
}
.our-recipies h2{
    font-size: 34px;
    text-align: center;
    color: #707070;
}
.our-recipies h4{
    font-size: 20px;
    text-align: center;
    padding: 0 30px;
    color: #2c2c2c;
    letter-spacing: 2px;
    line-height: 2em;
}
.our-recipies h4 span{
    color: #FD693A;
}
.card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    width: 27%;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 2px 2px 30px #ddd;
}
.card img{
    width: 100%;
    border-radius: 20px;
}
.card h2{
    text-align: left;
    color: #2a2a2a;
    font-size: 22px;
}
.card p{
    text-align: left;
}
.card a{
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: #FFFFFF;
    background: #FD693A; 
    display: inline-block;
    margin-top: 20px;
}
.followers-section{
    display: flex;
    box-shadow: 2px 2px 30px #ddd;
    border-radius: 20px;
    justify-content: space-around;
    margin: 50px 0;
}
.followers-section h2{
    font-size: 56px;
    color: #2c2c2c;
    margin-bottom: 0px ;
}